{% extends 'base.html.twig' %}

{% block title %}Organization{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mt-5 d-flex">
                    <div class="me-3">
                        <img src="{{ asset('images/card.png') }}" alt="" width="120" height="120" class="rounded-2">
                    </div>
                    <div>
                        <p class="fs-2">{{ organization.name }}</p>
                        <p>{{ organization.email }}</p>
                    </div>
                </div>

                <hr class="mt-4 mb-4">

                <p class="text-center">{{ organization.description }}</p>

                <div class="d-flex justify-content-between mt-5">
                    <h2>Sus músicos:</h2>
                    <div>
                        <button type="button" class="button-4" data-bs-toggle="modal" data-bs-target="#inviteModal">
                            Invitar músicos
                        </button>
                    </div>
                </div>

                {% if musicians is not empty %}
                    <div class="pt-1 border border-1 rounded-2 mb-5">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Instrumento</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for musician in musicians %}
                                    <tr>
                                        <td>
                                            <img src="{{ asset('images/' ~ musician.musician.image) }}" alt="" width="60"
                                                 height="60" class="rounded-circle">
                                        </td>
                                        <td class="align-middle">{{ musician.musician.name }}</td>
                                        <td class="align-middle">{{ musician.musician.email }}</td>
                                        <td class="align-middle">{{ musician.musician.instrument.name }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center mb-5">
                        <p>Actualmente en esta organización no hay miembros, empieza a invitar músicos.</p>
                    </div>
                {% endif %}

                <!-- Modal -->
                <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="pt-1 border border-1 rounded-2">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Usuario</th>
                                                <th scope="col">Mensaje Personalizado</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for musician in allMusicians %}
                                                <form action="{{ path('app_invitation_new') }}" method="post">
                                                    <tr>
                                                        <td>
                                                            <img src="{{ asset('images/' ~ musician.image) }}" alt="" width="40" height="40" class="rounded-circle">
                                                        </td>
                                                        <td class="align-middle">{{ musician.name }}</td>
                                                        <td class="align-middle">
                                                            <textarea name="message" rows="3" placeholder="Mensaje personalizado"></textarea>
                                                        </td>
                                                        <td class="align-middle">
                                                            <input type="hidden" name="musicianId" value="{{ musician.id }}">
                                                            <input type="hidden" name="organizationId" value="{{ organization.id }}">
                                                            <button type="submit" class="button-4">Invitar</button>
                                                        </td>
                                                    </tr>
                                                </form>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


{% endblock %}