{% extends 'base.html.twig' %}

{% block title %}Organization{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Inicio</a></li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_musician_show', {'id': app.user.id}) }}">Mi perfil</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_musician_organizations', {'id': app.user.id}) }}">Mis
                                organizaciones</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ organization.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <div class="mt-4 d-flex">
                    <div class="me-3">
                        <img src="{{ asset('images/card.png') }}" alt="" width="120" height="120" class="rounded-2">
                    </div>
                    <div>
                        <p class="fs-2">{{ organization.name }}</p>
                        <p>{{ organization.email }}</p>
                    </div>
                </div>

                <hr class="mt-4 mb-4">

                <p class="text-center">{{ organization.description }}</p>

                <h2 class="mt-5">Sus musicos:</h2>

                {% if musicians is not empty %}
                    <div class="pt-1 border border-1 rounded-2 mb-5">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Instrumento</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for musician in musicians %}
                                    <tr>
                                        <td>
                                            <img src="{{ asset('images/' ~ musician.musician.image) }}" alt=""
                                                 width="60"
                                                 height="60" class="rounded-circle">
                                        </td>
                                        <td class="align-middle">{{ musician.musician.name }}</td>
                                        <td class="align-middle">{{ musician.musician.email }}</td>
                                        <td class="align-middle">{{ musician.musician.instrument.name }}</td>
                                        <td class="align-middle">
                                            <a href="{{ path('app_musician_profile', {'id': musician.musician.id}) }}"
                                               class="text-decoration-none">
                                                <button class="button-4">Ver perfil</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center mb-5">
                        <img src="{{ asset('images/Hands - Phone 2.png' ) }}" alt="" width="160" height="160"
                             class="rounded-2">
                        <p>Actualmente en esta organización no hay músicos.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
