{% extends 'base_back.html.twig' %}

{% block title %}MusicianClass index{% endblock %}

{% block body %}
    <div class="bg-white rounded-2 p-3">
        <h1>Roles de los usuarios</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Role</th>
                <th>Organization</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for musician_class in musician_classes %}
                <tr>
                    <td>{{ musician_class.musician.name }}</td>
                    <td>{{ musician_class.role }}</td>
                    <td>{{ musician_class.organization.name }}</td>
                    <td>
                        <a href="{{ path('app_back_musician_class_show', {'id': musician_class.id}) }}">show</a>
                        <a href="{{ path('app_back_musician_class_edit', {'id': musician_class.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_back_musician_class_new') }}">Create new</a>
    </div>
{% endblock %}
