{% extends 'base_back.html.twig' %}

{% block title %}BandBridge{% endblock %}

{% block body %}
    <div class="rounded-2 bg-white p-3">

        <h1 class="pb-3">Usuarios registrados</h1>

        <div class="rounded-2 border border-1 border-gray pe-2 ps-2">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Correo Electrónico</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for musician in musicians %}
                        <tr>
                            <td>{{ musician.name }}</td>
                            <td>{{ musician.lastname }}</td>
                            <td>{{ musician.email }}</td>
                            <td class="d-flex justify-content-between">
                                <button class="btn-back-1 ps-3 pe-3" data-bs-toggle="modal" data-bs-target="#deleteModal{{ musician.id }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <a href="{{ path('app_back_musician_show', {'id': musician.id}) }}" class="text-decoration-none btn-back-2 ps-3 pe-3">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{{ path('app_back_musician_edit', {'id': musician.id}) }}" class="text-decoration-none btn-back-3 ps-3 pe-3">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>

                        <!-- Delete Confirmation Modal -->
                        <div class="modal fade" id="deleteModal{{ musician.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel{{ musician.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel{{ musician.id }}">Confirmar Eliminación</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estás seguro de que deseas eliminar este usuario?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <form method="post" action="{{ path('app_back_musician_delete', {'id': musician.id}) }}">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musician.id) }}">
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
