{% extends 'base.html.twig' %}

{% block title %}New Musician{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Inicio</a></li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_musician_show', {'id': app.user.id}) }}"> Mi perfil</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Modificar perfil</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 my-5 d-flex justify-content-center">
                <div class="border border-black border-opacity-25 p-3 rounded-2 d-flex flex-column align-items-center form-container">
                    <div class="text-center">
                        <h1>Modificar perfil</h1>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <div class="form-floating mb-3">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
                                {{ form_label(form.name, 'Nombre') }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Apellidos'}}) }}
                                {{ form_label(form.lastname, 'Apellidos') }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Correo'}}) }}
                                {{ form_label(form.email, 'Correo') }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <div class="form-floating mb-3">
                                {{ form_widget(form.avatar, {'attr': {'class': 'form-control', 'placeholder': 'Avatar'}}) }}
                                {{ form_label(form.avatar, 'Avatar') }}
                            </div>
                            <div>
                                <button type="button" class="button-2 w-100 p-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Seleccionar Instrumento
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="d-flex flex-wrap">
                                                    {% for instrument in instruments %}
                                                        <div class="button-2 m-1" data-bs-dismiss="modal">
                                                            <input type="radio" id="instrumento{{ instrument.id }}" name="instrumento" value="{{ instrument.id }}"
                                                                    {% if musician.instrument.id == instrument.id %} checked {% endif %}>
                                                            <label for="instrumento{{ instrument.id }}">{{ instrument.name }}</label><br>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="button-4">Actualizar</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
