{% extends 'base.html.twig' %}

{% block title %}Mis eventos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Inicio</a></li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_musician_show', {'id': app.user.id}) }}"> Mi perfil</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Eventos</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="mt-4">
                    <h1 class="mt-5">Solicitudes enviadas</h1>
                    {% if participations is empty %}
                        <div class="text-center">
                            <p>No tienes solicitudes enviadas. Aqui se mostraran las solicitudes que envies para participar en eventos.</p>
                        </div>
                    {% else %}
                        <div class="d-flex flex-wrap justify-content-between">
                            {% for participation in participations %}
                                <div class="card card-2 mt-2 mb-2">
                                    <div class="d-flex align-items-center">
                                        <div class="p-3">
                                            <img src="{{ asset('images/card.png') }}" class="rounded-2" alt="...">
                                        </div>
                                        <div><p class="card-title ff-2 fs-4 pe-3">{{ participation.event.name }}</p></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mt-5">
                    <h1 class="mt-5">Proximas actuaciones</h1>
                    {% if accepteds is empty %}
                        <div class="text-center">
                            <p>Envia solicitudes para que te acepten en ellas. Aqui se mostraran tus proximos eventos.</p>
                        </div>
                    {% else %}
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for accepted in accepteds %}
                                <div class="card card-2 mt-2 mb-2">
                                    <div class="d-flex align-items-center">
                                        <div class="p-3">
                                            <img src="{{ asset('images/card.png') }}" class="rounded-2" alt="...">
                                        </div>
                                        <div><p class="card-title ff-2 fs-4 pe-3">{{ accepted.event.name }}</p></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mt-5 mb-5">
                    <h1 class="mt-5">Peticiones rechazadas</h1>
                    {% if refuseds is empty %}
                        <div class="text-center">
                            <p>Aqui se mostrarn aquellas solicitudes en las que no te han aceptado <i class="fa-solid fa-face-sad-tear"></i>.</p>
                        </div>
                    {% else %}
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for refused in refuseds %}
                                <div class="card card-2 mt-2 mb-2">
                                    <div class="d-flex align-items-center">
                                        <div class="p-3">
                                            <img src="{{ asset('images/card.png') }}" class="rounded-2" alt="...">
                                        </div>
                                        <div><p class="card-title ff-2 fs-4 pe-3">{{ refused.event.name }}</p></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock %}