{% extends 'base2.html.twig' %}

{% block title %}New Musician{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 d-flex justify-content-center">
                <div class="bg-white mb-5 border border-black border-opacity-25 p-3 rounded-2 d-flex flex-column align-items-center form-container">
                    <div class="text-center">
                        <h1>Registrate</h1>
                    </div>
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
                                {{ form_label(form.name, 'Nombre') }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Apellidos'}}) }}
                                {{ form_label(form.lastname, 'Apellidos') }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Correo'}}) }}
                                {{ form_label(form.email, 'Correo') }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(form.avatar, {'attr': {'class': 'form-control', 'placeholder': 'Avatar'}}) }}
                                {{ form_label(form.avatar, 'Avatar') }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nombre de usuario'}}) }}
                                {{ form_label(form.username, 'Nombre de usuario') }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Contrase単a'}}) }}
                                {{ form_label(form.password, 'Contrase単a') }}
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" id="rpassword" name="rpassword" class="form-control" placeholder="Repetir Contrase単a">
                                <label for="rpassword">Repetir Contrase単a</label>
                            </div>
                            <div>
                                <button type="button" class="button-2 w-100 p-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Seleccionar Instrumento
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="d-flex flex-wrap">
                                                    {% for instrument in instruments %}
                                                        <div class="button-2 m-1" data-bs-dismiss="modal">
                                                            <input type="radio" id="instrumento{{ instrument.id }}" name="instrumento" value="{{ instrument.id }}">
                                                            <label for="instrumento{{ instrument.id }}">{{ instrument.name }}</label><br>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="button-4">Submit</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
