{% extends 'base.html.twig' %}

{% block title %}Mis eventos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <h1>Organizaciones</h1>

                <h3 class="mt-4">Eres organizador de:</h3>
                <div class="pt-1 pb-1 border border-1 rounded-2">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Organizacion</th>
                                <th scope="col">Clase de organizacion</th>
                                <th scope="col">Correo</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for organize in organizer %}
                                <tr>
                                    <td>
                                        <img src="{{ asset('images/card.png') }}" alt="" width="60" height="60" class="rounded-circle">
                                    </td>
                                    <td class="align-middle">{{ organize.organization.name }}</td>
                                    <td class="align-middle">{{ organize.organization.organizationType.name }}</td>
                                    <td class="align-middle">{{ organize.organization.email }}</td>
                                    <td class="align-middle">
                                        <a href="{{ path('app_organization_organizer_show', {'id': organize.organization.id}) }}">
                                            <button class="button-4">Ver organizacion</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <h3 class="mt-5">Formas parte de:</h3>
                {% if musician is empty %}
                    <div class="text-center">
                        <p>No eres musico de ninguna organizacion. Participa en eventos para que te inviten a una <i class="fa-solid fa-face-smile-wink"></i>.</p>
                    </div>
                {% else %}
                    <div class="pt-1 pb-1 border border-1 rounded-2">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Organizacion</th>
                                    <th scope="col">Clase de organizacion</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for musi in musician %}
                                    <tr>
                                        <td>
                                            <img src="{{ asset('images/card.png') }}" alt="" width="60" height="60" class="rounded-circle">
                                        </td>
                                        <td class="align-middle">{{ musi.organization.name }}</td>
                                        <td class="align-middle">{{ musi.organization.organizationType.name }}</td>
                                        <td class="align-middle">{{ musi.organization.email }}</td>
                                        <td class="align-middle">
                                            <a href="{{ path('app_organization_show', {'id': musi.organization.id}) }}">
                                                <button class="btn btn-primary">Ver organizacion</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
