{% extends 'base.html.twig' %}

{% block title %}Musician{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <!-- Contenedor grande a la izquierda -->
            <div class="col-6">
                <div class="rounded-2 border border-secondary p-3 h-100 text-center align-content-center">
                    <img src="{{ asset('images/' ~ musician.image) }}" alt="" width="120" height="120" class="rounded-circle me-2">
                    <span class="fs-2">@{{ app.user.username }}</span>

                    <div class="pt-4">
                        <h1>{{ musician.name }} {{ musician.lastname }}</h1>
                    </div>
                </div>
            </div>
            <!-- Contenedores peque침os a la derecha -->
            <div class="col-6">
                <div class="row">
                    <div class="col-6 pb-4">
                        <div class="rounded-2 border border-secondary p-3 box-2 text-center align-content-center">
                            <a href="{{ path('app_musician_edit', {'id': musician.id}) }}"><i class="fa fa-pencil"></i></a>
                        </div>
                    </div>
                    <div class="col-6 pb-4">
                        <div class="rounded-2 border border-secondary p-3 box-2 text-center align-content-center">
                            <a href="{{ path('app_musician_events', {'id': musician.id}) }}"><i class="fa-solid fa-calendar-days"></i></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="rounded-2 border border-secondary p-3 box-2 text-center align-content-center">
                            {% if organizer %}
                                <a href="{{ path('app_musician_organizations', {'id': musician.id}) }}"><i class="fa-solid fa-sitemap"></i></a>
                            {% else %}
                                <button type="button" class="btn btn-link fs-0" data-bs-toggle="modal" data-bs-target="#organizationModal"><i class="fa-solid fa-sitemap text-muted"></i></button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="rounded-2 border border-secondary p-3 box-2 text-center align-content-center">
                            <i class="fa-regular fa-comment"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if events is not empty %}
            <div class="row mt-4">
                <div class="col-12">
                    <h1>Tus pr칩ximos eventos</h1>
                    <div class="d-flex justify-content-center">
                        {% for event in events %}
                            <div class="card card-2 mt-2 mb-2">
                                <div class="d-flex align-items-center">
                                    <div class="p-3">
                                        <img src="{{ asset('images/card.png') }}" class="rounded-2" alt="...">
                                    </div>
                                    <div>
                                        <p class="card-title ff-2 fs-4 pe-3">{{ event.event.name }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="organizationModal" tabindex="-1" aria-labelledby="organizationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="text-center mt-4">Lo sentimos, parece que no est치s asociado a ninguna organizaci칩n en este momento.</h4>
                    <div class="text-center mt-5">
                        <p class="mb-1">Si lo deseas puedes registrar una organizacion tu mismo.</p>
                    </div>
                    <div class="text-center mb-3">
                        <a href="{{ path('app_organization_new') }}"><button class="button-2">Crear organizacion</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
