<aside class="col-2 aside h-auto p-2 ps-3 bg-2 d-none d-lg-block d-xl-block d-xxl-block">
    <nav id="main-menu">
        <div class="text-center text-white pt-3">
            <span class="ff-2 fs-5">
                <img src="{{ asset('images/icon.png') }}" alt="Logo" width="35" height="35">
                BandBridge
            </span>
        </div>
        <hr class="text-white">
        <ul class="list-unstyled fs-5">
            <li class="submenu">
                <a href="{{ path('app_back') }}" class="text-decoration-none text-white">Inicio</a>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white ps-0 fs-5" data-bs-toggle="collapse" data-bs-target="#event-collapse" aria-expanded="false">
                    Eventos
                </button>
                <div class="collapse" id="event-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{ path('app_back_event_index') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white ps-3">Todos los eventos</a></li>
                        <li><a href="{{ path('app_back_event_new') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white ps-3">Nuevo evento</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white ps-0 fs-5" data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
                    Usuarios
                </button>
                <div class="collapse" id="user-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{ path('app_back_musician_index') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white ps-3">Lista de suarios</a></li>
                        <li><a href="{{ path('app_back_musician_new') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white ps-3">Nuevo usuario</a></li>
                        <li><a href="{{ path('app_back_musician_class_index') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white ps-3">Gestionar roles</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white ps-0 fs-5" data-bs-toggle="collapse" data-bs-target="#organization-collapse" aria-expanded="false">
                    Organizaciones
                </button>
                <div class="collapse" id="organization-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{ path('app_back_organization_index') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white ps-3">Todas las org.</a></li>
                        <li><a href="{{ path('app_back_organization_new') }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white ps-3">Nueva organizacion</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <hr class="text-white">

        <div class="text-white mt-auto">
            <span>
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                Pepe
            </span>
        </div>
    </nav>
</aside>
