<aside class="col-2 aside min-vh-100 p-2 ps-3 bg-2 d-none d-lg-block d-xl-block d-xxl-block">
    <nav id="main-menu">
        <div class="text-center text-white pt-3">
            <span class="ff-2 fs-5">
                <img src="{{ asset('images/icon.png') }}" alt="Logo" width="35" height="35">
                BandBridge
            </span>
        </div>
        <hr class="text-white">
        <ul class="list-unstyled fs-5 mb-5">
            <li class="mb-2">
                <a href="{{ path('app_back') }}" class="text-decoration-none text-white">Inicio</a>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white ps-0 fs-5" data-bs-toggle="collapse" data-bs-target="#event-collapse" aria-expanded="false">
                    Eventos
                </button>
                <div class="collapse" id="event-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{ path('app_back_event_index') }}" class="link-body-emphasis-2 d-inline-flex text-decoration-none rounded text-white ps-3 pe-3 pt-1 pb-1">Todos los eventos</a></li>
                        <li><a href="{{ path('app_back_event_new') }}" class="link-body-emphasis-2 d-inline-flex text-decoration-none rounded text-white ps-3 pe-3 pt-1 pb-1">Nuevo evento</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white ps-0 fs-5" data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
                    Usuarios
                </button>
                <div class="collapse" id="user-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{ path('app_back_musician_index') }}" class="link-body-emphasis-2 d-inline-flex text-decoration-none rounded text-white ps-3 pe-3 pt-1 pb-1">Lista de suarios</a></li>
                        <li><a href="{{ path('app_back_musician_new') }}" class="link-body-emphasis-2 d-inline-flex text-decoration-none rounded text-white ps-3 pe-3 pt-1 pb-1">Nuevo usuario</a></li>
                        <li><a href="{{ path('app_back_musician_class_index') }}" class="link-body-emphasis-2 d-inline-flex text-decoration-none rounded text-white ps-3 pe-3 pt-1 pb-1">Gestionar roles</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white ps-0 fs-5" data-bs-toggle="collapse" data-bs-target="#organization-collapse" aria-expanded="false">
                    Organizaciones
                </button>
                <div class="collapse" id="organization-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{{ path('app_back_organization_index') }}" class="link-body-emphasis-2 d-inline-flex text-decoration-none rounded text-white ps-3 pe-3 pt-1 pb-1">Todas las org.</a></li>
                        <li><a href="{{ path('app_back_organization_new') }}" class="link-body-emphasis-2 d-inline-flex text-decoration-none rounded text-white ps-3 pe-3 pt-1 pb-1">Nueva organizacion</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <hr class="text-white">

        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                <span>@mdo</span>
            </a>
            <ul class="dropdown-menu text-small shadow" style="">
                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
</aside>