<header class="bg-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-dark pt-2 pb-2">
                    <div class="container-fluid d-flex align-items-center justify-content-between">
                        <a class="navbar-brand d-flex align-items-center justify-content-between" href="{{ path('app_home') }}">
                            <img src="{{ asset('images/icon.png') }}" alt="Logo" width="35" height="35">
                            <span class="d-none d-sm-block ms-2">BandBridge</span>
                        </a>
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="d-flex">
                                    {% if app.user %}
                                        <div class="me-3">
                                            <a href="{{ path('app_logout') }}">
                                                <button class="button-1">Cerrar sesión</button>
                                            </a>
                                        </div>

                                        <button class="button-1 position-relative" type="button" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasWithBothOptions"
                                                aria-controls="offcanvasWithBothOptions">
                                            <span class=""><i class="fa fa-bars"></i></span>
                                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="notifications">
                                                <span class="visually-hidden">New alerts</span>
                                            </span>
                                        </button>

                                        <div class="offcanvas offcanvas-end bg-2 text-white" data-bs-scroll="true" tabindex="-1"
                                             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                                            <div class="offcanvas-header">
                                                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">@{{ app.user.username }}</h5>
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                                        aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="offcanvas-body">
                                                <div>
                                                    <ul class="navbar-nav me-auto mb-lg-0 fs-4">
                                                        <li class="nav-item">
                                                            <a class="nav-link" aria-current="page" href="{{ path('app_musician_show', {'id': app.user.id}) }}"> Mi perfil</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="{{ path('app_event_index') }}">Eventos</a>
                                                        </li>
                                                        <li class="nav-item position-relative" data-controller="count">
                                                            <a class="nav-link" href="{{ path('app_musician_invitations', {'id': app.user.id}) }}">
                                                                    <div>
                                                                        Notificaciones
                                                                        <span data-count-target="output" class="badge rounded-pill bg-danger text-center"></span>
                                                                    </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <a href="{{ path('app_login') }}">
                                            <button class="button-1">Iniciar sesión</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>